* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 500vh;
    max-width: 100%;
    width: 100vw;
    background: #000;
}

.intro {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    max-width: 100vw;
    max-height: 100vh;
}

.two {
    height: 200vh;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #FFF;
    font-family: sans-serif;
}