* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 1300vh;
}

body {
    max-width: 100%;
    width: 100vw;
    background: #000;
}

/* .intro, .second { */
.intro, .next {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top center;
}

canvas {
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #FFF;
    font-family: sans-serif;
}
